.start-rotate{
  animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate{
  100%{
    transform: rotate(360deg);
  }
}

.stop-rotate{
  animation-play-state: paused;
}

.piece {
  overflow: hidden;
}

.title{
  text-align: center;
  color:white;
}
.hidden{
  visibility: hidden;
  max-height: 1px;
}