.start-rotate{
  animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate{
  100%{
    transform: rotate(360deg);
  }
}

.stop-rotate{
  animation-play-state: paused;
}

.piece {
  overflow: hidden;
}

.title{
  text-align: center;
  color:white;
}
.hidden{
  visibility: hidden;
  max-height: 0px;
}

.spin-button{
  background-color: rgba(66, 66, 66, 0.76);
  margin: 10px;
  height: 80px;
  width: 180px; 
  border-radius: 10px; 
  border: darkcyan;;
  border: 5px solid rgb(156, 57, 11);
  background-blend-mode: hue;
  color: rgb(207, 114, 0);
}